/* Định dạng chung */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: red;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Logo */
.logo img {
    width: 150px;
}

/* Search */
.search input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 200px;
}

.search button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Navigation */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 10px;
}

nav li a {
    text-decoration: none;
    color: white;
}

/* Main Navigation */
.main-nav {
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav li {
    margin: 0 20px;
}

.main-nav li a {
    text-decoration: none;
    color: #333;
}

.main-nav li i {
    margin-right: 5px;
}
/* Hiệu ứng hover cho menu */
nav ul li:hover {
    background-color: #f0f0f0;
    transform: scale(1.1);
}

/* Bố cục lưới cho section */
.section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
a:hover {
    color: red;
    text-decoration: underline;
    transform: scale(1.1);
  }

  .dropdown {
    margin: 20px;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-button {
    padding: 10px 15px;
    background-color: #e51d28;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 10px 0;
  }
  
  .dropdown-content a {
    color: #333;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f2f2f2;
  }
  
  /* Show dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }