/* Định dạng chung */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: red;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_navbar{
    align-items: center;
}
.header_navbar-search{
    display:flex;
    justify-content: space-between;
    gap:40px;
    align-items: center;
   
}
.header_width-search{
    height:81px;
    display:flex;
    align-items: center;
}

.header_logo{
    margin-left: 10px;
}

.header_logo-img{
    width:81px;
    height:100%;
    fill: var(--primary-color);
    padding-bottom: 15px;
}

.header_search{
    flex:1;
    position:relative;
    height:40px;
    border-radius: 10px;
    border: 1px solid rgb(221, 221, 227);
    width:800px;
    display:flex;

}

.header_search-icon{
    font-size:1.5rem;
    margin: 10px 15px;
    color:var(--text-color);
}

.header_search-button{
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    
}


.header_search-input{
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 200px;
    
}


/* Logo */
.logo img {
    width: 100px;
}

/* Search */
/* .search input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 200px;
}

.search button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */

/* Navigation */

.header_navbar-list{
    list-style: none;
    margin: 0;
    padding: 15px 0;
    text-align: center;
    

}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 10px;
}

nav li a {
    text-decoration: none;
    color: white;
}

/* Main Navigation */
.main-nav {
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav li {
    margin: 0 20px;
}

.main-nav li a {
    text-decoration: none;
    color: #333;
}

.main-nav li i {
    margin-right: 5px;
}
/* Hiệu ứng hover cho menu */
nav ul li:hover {
    background-color: #f0f0f0;
    transform: scale(1.1);
}

/* Bố cục lưới cho section */
.section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
a:hover {
    color: red;
    text-decoration: underline;
    transform: scale(1.1);
  }

  .dropdown {
    margin: 20px;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-button {
    padding: 10px 15px;
    background-color: #e51d28;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 10px 0;
  }
  
  .dropdown-content a {
    color: #333;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f2f2f2;
  }
  
  /* Show dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .grid__row-end{
    border-bottom: 1px solid #33333318;
    padding-bottom: 30px;
  }
.end{
    background-color: var(--white-color);
    padding-bottom: 10px;
    margin-top: 20px;
}
.end__heading{
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 600;
}
.end__heading-list{
    list-style: none;
    padding-left: 0;
}
.end__pay-list,
.end__deliver-list{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}
.end__pay-item,
.end__deliver-item{
    background-color: var(--white-color);
    padding: 3px;
    box-shadow: 0px 1px 5px rgba(51, 51, 51, 0.2);
    width: 63px;
    height: 30px;
    border-radius: 2px;
}
.end__pay-item-link,
.end__deliver-item-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: default;
}
.end__pay-item + .end__pay-item,
.end__deliver-item + .end__deliver-item{
    margin-left: 10px;
}
.end__heading-item{
    font-size: 1.3rem;
    margin-top: 10px;
}
.end__heading-link{
    text-decoration: none;
    color: rgba(51, 51, 51, 0.8);
}
.end__heading-link:hover{
    color: var(--primary-color);
}
.end__heading-link-icon{
    margin-right: 5px;
    font-size: 1.4rem;
}
.end__heading-p{
    margin-top: 10px;
    margin-bottom: 0;
}  
.end__heading-more{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 150px 0 0;
}
  .end__heading-law{
    font-size: 1.4rem;
    color: rgba(51, 51, 51, 0.7);
}
.end__heading-country{
    padding: 0 5px;
}
.end__heading-country-list{
    display: flex;
    list-style: none;
}
.end__heading-country-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: rgba(51, 51, 51, 0.7);
}
.end__heading-country:not(:last-child) {
    border-right: 1px solid rgba(51, 51, 51, 0.2);
}
.end__heading-end{
    background-color: var(--white-color);
    margin: 10px 0 20px;
}
.end__heading-end-list{
    list-style: none ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 40PX;
}
.end__heading-end-item{
    padding: 0 20px;
}
.end__heading-end-item:not(:last-child){
    border-right: 1px solid rgba(51, 51, 51, 0.2);
}
.end__heading-country-link{
    font-size: 1.4rem;
    color: rgba(51, 51, 51, 0.7);
}
.end__heading-end-certificate{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
}
.end-certificate-link{
    height: 100%;
    display: flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
}
.end-certificate-img{
    width: 120px;
    height: 45px;
}
.end-certificate-img-HG{
    width: 70px;
    height: 70px;
}
.end-certificate-link:not(:last-child){
    margin-right: 40px;
}
.end__heading-end-information-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #f5f5fa;
    
}
.end__heading-end-information{
    font-size: 1.3rem;
    color: rgba(51, 51, 51, 0.9);
    margin-top: 10px;
}
.end__heading-end-information-name{
    margin-bottom: 1px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}